/*#main-title {*/
/* font-weight: bold;*/
/* text-decoration: none;*/
/* font-size: 40px;*/
/* color: black;*/
/* font-family: "Noto Sans JP", sans-serif;*/
/*}*/

/*================
 PC用のスタイル 
=================*/
/* 画面幅が768px以上のとき */
@media screen and (min-width: 768px) {
  /* PC用のスタイルを指定する */
  
  横幅設定 
 body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
 } 
 
 /* TOPに戻るボタン */
.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  background: #007BFF;
  color: #fff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 5px;
  transition: 0.3s;
}

.scroll-to-top:hover {
  background: #0056b3;
}

/* スクロール時のフェードイン */
section {
  　opacity: 0;
  　transition: 1s;
}

.fade-in {
  opacity: 1;
}

 .myhome {
    font-size: BIG;
 }

 #nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
 }

 .menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: right;
    column-gap: 30px;
    margin-bottom: 10px;
 }

 #nav-pc a {
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
 }
 
   /* スマホ用ナビを非表示 */
   #nav-sp,
   #menu-sp {
    display: none;
   }
   
.pageheader-slider {
  /* ul要素の不要なパディングを削除する */
  padding: 0;

 }
 
  /* メインの画像 */
 .mainpic {
  /*margin: 50 auto;*/
  margin: auto; /* おそらくここは "auto" だけが正しい指定かと思われます。 */
  text-align: center;
  width: 100%; /* 今の画像が上が見切れているのいったんオフにしてる */
  height: 500px;
  object-fit: cover;
　object-position: top; /* 追加 */
 }

 #title1,#title2  {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-family: "Noto Sans JP", sans-serif;
 }
 .topreport{
    padding: 20px 70px 30px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 40%;
 }

 .report{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 20px auto;
    column-gap: 20px;
    max-width: 1200px;
 }

 .report-item{
    padding-bottom: 60px;
    width: 30%;
 }

 img {
    margin: 0 auto;
    max-width: 100%;
 }

 /*.report-item-center{*/
 /*   padding-right: 30px;*/
 /*   padding-left: 30px;*/
 /*   width: 30%;*/
 /*}*/



 p {
    margin: 0;
 }

 footer p {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Noto Sans JP", sans-serif;
 }

 P {
    font-size: 20px;
 }
 
 /*モーダルウィンドウのデザイン*/
 #modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.modal-content {
    bottom: 18%;
    width: 100%;
    max-width: 55%;
    margin: 15% auto;
    background: white;
    padding: 1%;
    position: relative;
}

#modal-close {
    position: absolute;
    right: 2%;
    top: 1%;
    cursor: pointer;
}
/*モーダルウィンドウのデザイン終了*/

.more-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more-item img {
    flex: 1 1 30%;
    margin: 1% 1.5%;
    max-width: 30%;
}

.rmore-item-img {
    flex: 1 1 30%;
    margin: 1% 1.5%;
    max-width: 30%;
}

#top {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

#top:hover {
    background: #0056b3;
}

/*もっとみるのリンク*/
#page-more {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

#page-more:hover {
    background: #0056b3;
}

footer p {
    padding: 20px;
}

}

/*================
 スマホ用のスタイル 
=================*/
  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: none;
    background: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
    border-radius: 5px;
    transition: 0.3s;
  }

  .scroll-to-top:hover {
    background: #0056b3;
  }

/* 画面幅が767px以下のとき */
 @media screen and (max-width: 767px) {
  /* スマホ用のスタイルを指定する */
  
  body {
    overflow-x: auto;
    padding:10px 20px 10px;
  }
  
   img {
    width: 95%;
    margin: auto;
    display: block;
 }

  
    /* PC用ナビゲーション非表示 */
  #nav-pc {
   display: none;
  }
  
    /* SP用ナビゲーション表示 */
  #nav-sp {
   text-align: center;
  }
  #nav-sp > a {
   margin: 10px;
   font-weight: bold;
   text-decoration: none;
   font-size: 20px;
   color: black;
   font-family: "Noto Sans JP", sans-serif;
  }
  
 /* .pageheader-slider {*/
  /* ul要素の不要なパディングを削除する */
 /* padding: 0;*/

 /*}*/
 
    /* メインの画像 */
   .mainpic {
    margin: 50 auto;
    text-align: center;
    width: 100%;
    height: 400px;
    object-fit: cover;
   }
  
    /* SP用のメイン画面表示 */
  /* .pageheader {*/
  /*  height: 300px;*/
  /*  background-image: url(images/ff_x_e1_flour.jpg);*/
  /*  background-size: 150%;*/
  /*  background-position: center;*/
  /*  background-repeat: no-repeat;*/
  /*  background-position: center center;*/
  /*}*/
  
  
   #title1,#title2  {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      font-size: 25px;
      font-family: "Noto Sans JP", sans-serif;
 }
 
   p {
      margin: 0 40px 5px;
   }
   
  .report{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 20px auto 20px auto;
     column-gap: 20px;
     max-width: 1200px;
  }
 
 
 footer p {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Noto Sans JP", sans-serif;
 }
 
 
  /* #modal-close {*/
  /* display: none;*/
  /*}*/
  
   /*モーダルウィンドウのデザイン*/
  #modal {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.7);
     z-index: 99;
 }
 
 .modal-content {
     top: 10%;
     width: 100%;
     max-width: 100%;
     /*margin: 5% auto;*/
     background: white;
     /*padding: 1%;*/
     position: relative;
 }
 
 #modal-close {
     position: absolute;
     right: 15%;
     top: 1%;
     cursor: pointer;
 }
 /*モーダルウィンドウのデザイン終了*/
 
 .more-item img {
    margin: 5% 2%;  /* 上下5%、左右2%のマージンを設定 */
    flex: 1 1 auto;  /* flexボックス内での画像の伸縮を自動に設定 */
}

/*もっとみるのリンク*/
#page-more {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

#page-more:hover {
    background: #0056b3;
}
 #top {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

footer p {
    padding: 20px;
}

}
